h1{
    color: brown;
    background-color: chartreuse;

}
p{
    color: darkorchid; background-color: floralwhite;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}